certifi==2024.12.14
charset-normalizer==3.4.1
cloudpickle==3.1.1
colored==1.4.4
cvxopt==1.2.7
cycler==0.11.0
decorator==5.1.0
deprecation==2.1.0
docopt==0.6.2
et_xmlfile==2.0.0
fastdtw==0.3.4
fonttools==4.28.2
Gooey==1.0.8.1
graphviz==0.19
idna==3.10
imageio==2.35.1
intervaltree==3.1.0
ipython==7.30.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==2.0.0
kaleido==0.2.1
kiwisolver==1.3.2
lazy_loader==0.4
lime==0.2.0.1
llvmlite==0.41.1
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mpmath==1.2.1
networkx==3.1
numba==0.58.1
numpy==1.22.4
openpyxl==3.1.5
packaging==21.3
pandas==1.3.4
parso==0.8.3
patsy==1.0.1
pexpect==4.8.0
pillow==10.4.0
pipreqs==0.4.13
plotly==5.4.0
pm4py==2.7.11.13
prompt-toolkit==3.0.23
ptyprocess==0.7.0
PuLP==2.1
pydotplus==2.0.2
Pygments==2.10.0
pygtrie==2.5.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pyvis==0.1.9
PyWavelets==1.4.1
pywin32==306
requests==2.32.3
scikit-image==0.21.0
scikit-learn==1.0.1
scikit-learn-extra==0.3.0
scipy==1.10.1
seaborn==0.13.2
setuptools-scm==6.3.2
shap==0.44.1
slicer==0.0.7
sortedcontainers==2.4.0
statsmodels==0.14.1
StringDist==1.0.9
sympy==1.9
tenacity==8.0.1
threadpoolctl==3.0.0
tifffile==2023.7.10
tomli==1.2.2
tqdm==4.62.3
traitlets==5.1.1
urllib3==2.2.3
wxPython==4.2.2
xgboost==2.1.3
yarg==0.1.10
